// 文字フォントの種類（base=本文 / second=見出し）
$base-font: "Noto Sans JP", sans-serif; // 本文・UI
$second-font: "Zen Maru Gothic", sans-serif; // 見出し（丸ゴシック）
$en-font: "Noto Sans", sans-serif; // 英数字

// 文字の太さ
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
